<h3>Create A Car!</h3>
<fieldset>
  <form method="POST" action="/cars">
    <div class="form-group col-md-3">
      <input name="make" class="form-control" placeholder="Make"/>
    </div>
    <div class="form-group col-md-3">
      <input name="model" class="form-control" placeholder="Model"/>
    </div>
    <div class="form-group col-md-3">
      <input type="year", name="year" class="form-control" placeholder="Year"/>
    </div>
    <div class="form-group col-md-3">
      <input name="color" class="form-control" placeholder="Color"/>
    </div>
    <div class="form-group col-md-3">
      <input type= "submit" class="form-control" placeholder="Submit"/>
    </div>


  </form>
</fieldset>
