<h3>Create A Car!</h3>
<fieldset>
  <form method="POST" action="/cars">
    <div class="form-group col-md-3">
      <input name="Make" class="form-control" placeholder="Make"/>
    </div>
    <div class="form-group col-md-3">
      <input name="Model" class="form-control" placeholder="Model"/>
    </div>
    <div class="form-group col-md-3">
      <input type="date", name="Year" class="form-control" placeholder="Year"/>
    </div>
    <div class="form-group col-md-3">
      <input name="Color" class="form-control" placeholder="Color"/>
    </div>
    <div class="form-group col-md-3">
      <input type= "submit" class="form-control" placeholder="Submit"/>
    </div>

  </form>
</fieldset>
